.indvCards {
    width: 251px;
    border: 1px solid #efefef;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    float: left;
    margin: 10px;
}

.cardLayout {
    display: flex;
    justify-content: center;
    float: left;
    align-items: center;
}

.card__blur {
    filter: blur(5px);
    overflow: hidden;
}

.card__logo {
    margin: auto;
    width: 120px;
    transform: translateY(-50%);
    margin-bottom: -40px;
}

.card__info {
    text-align: center;
}

.card__info p {
    font-size: 10px;
}

.card__footer {
    background: red;
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
}